.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #D9D9D9; 
}

.app-logo {
  display: block;
  margin: 0 auto 20px auto; 
  width: 100px; 
  height: auto;
}

.login-container ion-card {
  width: 100%;
  max-width: 400px;
  margin: 0;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container ion-card-header {
  padding: 20px;
  text-align: center; 
}

.login-container ion-card-title {
  font-size: 24px;
  font-weight: 600;
  color: #07407B; 
}

.login-container ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
  --highlight-color-focused: #07407B;
  --color: #07407B;
  --border-color-focused: #07407B;
}

.login-container ion-item.item-has-focus ion-label {
  color: #07407B !important; 
}

.login-container ion-label {
  color: #07407B;
  --color-focused: #07407B;
}

.login-container ion-input {
  --color: #07407B;
  --placeholder-color: #07407B;
  --highlight-color-focused: #07407B;
  --caret-color-focused: #07407B;
}

.login-container ion-icon {
  color: #F7931E;
  margin-right: 8px;
}

.login-container ion-button {
  margin-top: 24px;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --background: #F7931E;
  --color: #07407B;
}

.login-container ion-text[color="danger"] {
  font-size: 14px;
  margin-top: 8px;
  display: block;
} 