:root {
    --admin-primary-color: #07407B;
    --admin-secondary-color: #F7931E;
    --admin-background-color: #fff;
    --admin-header-color: #D9D9D9;
    --admin-text-color: #0E0F3B;
    --admin-card-bg: #fff;
    --admin-card-radius: 1rem;
    --admin-card-shadow: 0 4px 12px rgba(0,0,0,0.08);
    --admin-btn-radius: 0.5rem;
}


.custom-toolbar .custom-header{
    --min-height: 90px;
    padding: 0 16px;
    position: relative;
}

.custom-toolbar{
    --background: var(--admin-header-color);
    --color: var(--admin-text-color);
}

.custom-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.custom-header-logo {
    width: auto;
    height: 80px;
    min-width: 100px;
    max-width: 180px;
    object-fit: contain;
    flex-shrink: 0;
}

.custom-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--admin-text-color);
    padding: 0;
    margin: 0;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex: none;
}

@media (max-width: 768px) {
    .custom-header .custom-toolbar{
        --min-height: 65px;
        padding: 0 12px;
    }

    .custom-header-content{
        gap: 12px;
    }

    .custom-header-logo {
        height: 25px;
        min-width: 90px;
        max-width: 140px;
    }

    .custom-header-title {
        font-size: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    
}

@media (max-width: 480px) {
    .custom-header .custom-toolbar{
        --min-height: 55px;
        padding: 0 8px;
    }

    .custom-header-content{
        gap: 8px;
    }

    .custom-header-logo {
        height: 20px;
        min-width: 70px;
        max-width: 120px;
    }

    .custom-header-title {
        font-size: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
